
*.txt
001 Q3-203 Münchhausen-Zahl/.idea/misc.xml
001 Q3-203 Münchhausen-Zahl/.idea/modules.xml
001 Q3-203 Münchhausen-Zahl/.idea/Q3_203.iml
001 Q3-203 Münchhausen-Zahl/.idea/workspace.xml
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/cmake_install.cmake
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/cmake.check_cache
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/CMakeOutput.log
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Makefile.cmake
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Makefile2
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/progress.marks
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Q3_203.dir/build.make
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Q3_203.dir/C.includecache
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Q3_203.dir/cmake_clean.cmake
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Q3_203.dir/depend.internal
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Q3_203.dir/depend.make
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Q3_203.dir/DependInfo.cmake
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Q3_203.dir/flags.make
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Q3_203.dir/main.c.o
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/CMakeFiles/Q3_203.dir/progress.make
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/Makefile
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/Q3_203
001 Q3-203 Münchhausen-Zahl/cmake-build-debug/Q3_203.cbp
*.exe
003 IqEvaluations/main
